<h2 class="try-title"><%= label %></h2>

<p class="try-description"><%= description %></p>

<form class="try-form">
	<table class="try-params">

		<%
			_.each(params, function(param) {

				var visibleClass = ( param.get("visible") ? "try-param-visible" : "try-param-hidden" );

				var flag = "";

				if( param.get("globalParam") ) {
					flag = "(Global)";
				} else if( param.get("urlParam") ) {
					flag = "(URL Param)";
				}

		%>

			<tr class="<%= visibleClass %>">
				<td class="try-label"><%= param.getLabel() %>:</td>
				<td class="try-param">

					<div>

						<!-- First field -->
						<div>
							<input id="<%= param.get("name") %>" value="<%= param.get("value") %>" type="text" class="trying-input" />

							<% if( param.get("multiValue") ) { %>
								<a class="try-param-add">[+]</a>
								<a class="try-param-remove">[-]</a>
							<% } %>

							<span class="try-param-flag"><%= flag %></span>
						</div>

						<!-- Field clones will be added here -->

					</div>

					<span class="try-param-desc"><%= param.get("description") %></span>

				</td>
			</tr>

		<% }); %>

		<tr>
			<td></td>
			<td>
				<input type="submit" value="Try" class="try-button" />
				<span class="try-result-status"></span>
			</td>
		</tr>

	</table>
</form>

<div class="try-result">
	Result:
	<span class="try-result-formatters">
		Format:
		<button class="try-format-json">JSON</button>
		<button class="try-format-xml">XML</button>
	</span>
	<textarea class="try-result-text"></textarea>
</div>